@media (max-width:1920px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 220px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 55%;
        margin-top: -18%;
        color: white;
    }
    .text{
        margin-top: 16%;
        margin-left: 45%;
        width: 400px;
        color: white;
    }

    main{
        background-image: url("/static/images/background2.jpg");
        margin-top: 15%;
        width: 100%;
        height: 1200px;
    }
    .discrip_psico h3{
        margin-top: 52%;
        position: absolute;
        margin-left: 18%;
    }
    .discrip_psico .link_site{
        position: absolute;
        margin-top: 56%;
        margin-left: 14%;
    }
    .discrip_psico .link_repos{
        position: absolute;
        margin-top: 56%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        margin-top: 52%;
        position: absolute;
        margin-left: 63%;
        text-align: center;
        width: 20%;
    }
    .discrip_studio .link_site{
        position: absolute;
        margin-top: 56%;
        margin-left: 64%;
    }
    .discrip_studio .link_repos{
        position: absolute;
        margin-top: 56%;
        margin-left: 75%;
    }
}

@media (max-width:1680px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 200px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 58%;
        margin-top: -19%;
        color: white;
    }
    .text{
        margin-top: 17%;
        margin-left: 45%;
        width: 400px;
        color: white;
    }
    .discrip_studio h3{
        margin-left: 64%;
    }
}

@media (max-width:1536px){
    html{
        width: 100%;
    }
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 180px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 58%;
        margin-top: -19%;
        color: white;
    }
    .text{
        margin-top: 17%;
        margin-left: 45%;
        width: 400px;
        color: white;
    }
    main{
        height: 1000px;
    }
}

@media (max-width:1371px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 160px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 58%;
        margin-top: -19%;
        color: white;
    }
    .text{
        margin-top: 17%;
        margin-left: 45%;
        width: 400px;
        color: white;
    }
    main{
        height: 900px;
    }
    .discrip_psico h3{
        margin-top: 52%;
        position: absolute;
        margin-left: 17%;
    }
    .discrip_psico .link_site{
        position: absolute;
        margin-top: 56%;
        margin-left: 13%;
    }
    .discrip_psico .link_repos{
        position: absolute;
        margin-top: 56%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        margin-top: 52%;
        position: absolute;
        margin-left: 64%;
        text-align: center;
        width: 20%;
    }
    .discrip_studio .link_site{
        position: absolute;
        margin-top: 56%;
        margin-left: 61%;
    }
    .discrip_studio .link_repos{
        position: absolute;
        margin-top: 56%;
        margin-left: 75%;
    }
}

@media (max-width:1280px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 150px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 58%;
        margin-top: -19%;
        color: white;
    }
    .text{
        margin-top: 17%;
        margin-left: 44%;
        width: 350px;
        color: white;
    }
    main{
        height: 900px;
    }
    .discrip_psico h3{
        margin-top: 52%;
        position: absolute;
        margin-left: 17%;
    }
    .discrip_psico .link_site{
        position: absolute;
        margin-top: 56%;
        margin-left: 13%;
    }
    .discrip_psico .link_repos{
        position: absolute;
        margin-top: 56%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        margin-top: 52%;
        position: absolute;
        margin-left: 65%;
        text-align: center;
        width: 20%;
    }
    .discrip_studio .link_site{
        position: absolute;
        margin-top: 56%;
        margin-left: 61%;
    }
    .discrip_studio .link_repos{
        position: absolute;
        margin-top: 56%;
        margin-left: 75%;
    }
}

@media (max-width:1191px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 110px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 55%;
        margin-top: -19.5%;
        color: white;
    }
    .text{
        margin-top: 15%;
        font-size: 12px;
        margin-left: 40%;
        width: 300px;
        color: white;
    }
    main{
        height: 800px;
    }
    .discrip_psico h3{
        font-size: 17px;
        margin-top: 52%;
        position: absolute;
        margin-left: 17%;
    }
    .discrip_psico .link_site{
        position: absolute;
        margin-top: 57%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        position: absolute;
        margin-top: 57%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        font-size: 17px;
        margin-top: 52%;
        position: absolute;
        margin-left: 60%;
        text-align: center;
        width: 30%;
    }
    .discrip_studio .link_site{
        position: absolute;
        margin-top: 57%;
        margin-left: 59%;
    }
    .discrip_studio .link_repos{
        position: absolute;
        margin-top: 57%;
        margin-left: 75%;
    }
}

@media (max-width:1024px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 110px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 55%;
        margin-top: -19.5%;
        color: white;
    }
    .text{
        margin-top: 15%;
        font-size: 12px;
        margin-left: 40%;
        width: 300px;
        color: white;
    }
    main{
        height: 800px;
    }
    .discrip_psico h3{
        font-size: 17px;
        margin-top: 52%;
        position: absolute;
        margin-left: 17%;
    }
    .discrip_psico .link_site{
        position: absolute;
        margin-top: 57%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        position: absolute;
        margin-top: 57%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        font-size: 17px;
        margin-top: 52%;
        position: absolute;
        margin-left: 61%;
        text-align: center;
        width: 30%;
    }
    .discrip_studio .link_site{
        position: absolute;
        margin-top: 57%;
        margin-left: 59%;
    }
    .discrip_studio .link_repos{
        position: absolute;
        margin-top: 57%;
        margin-left: 75%;
    }
}

@media (max-width:912px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 100px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 55%;
        margin-top: -19.5%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 10%;
    }
    .text{
        margin-top: 15%;
        font-size: 12px;
        margin-left: 40%;
        width: 300px;
        color: white;
    }
    main{
        height: 700px;
    }
    .discrip_psico h3{
        font-size: 17px;
        margin-top: 52%;
        position: absolute;
        margin-left: 17%;
    }
    .discrip_psico .link_site{
        position: absolute;
        margin-top: 57%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        position: absolute;
        margin-top: 57%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        font-size: 17px;
        margin-top: 52%;
        position: absolute;
        margin-left: 61%;
        text-align: center;
        width: 30%;
    }
    .discrip_studio .link_site{
        position: absolute;
        margin-top: 57%;
        margin-left: 59%;
    }
    .discrip_studio .link_repos{
        position: absolute;
        margin-top: 57%;
        margin-left: 75%;
    }
}

@media (max-width:820px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 100px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -18.5%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 10%;
    }
    .text{
        margin-top: 15%;
        font-size: 12px;
        margin-left: 40%;
        width: 300px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 550px;
    }
    .discrip_psico h3{
        font-size: 17px;
        margin-top: 52%;
        position: absolute;
        margin-left: 17%;
    }
    .discrip_psico .link_site{
        position: absolute;
        margin-top: 57%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        position: absolute;
        margin-top: 57%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        font-size: 17px;
        margin-top: 52%;
        position: absolute;
        margin-left: 61%;
        text-align: center;
        width: 30%;
    }
    .discrip_studio .link_site{
        position: absolute;
        margin-top: 57%;
        margin-left: 59%;
    }
    .discrip_studio .link_repos{
        position: absolute;
        margin-top: 57%;
        margin-left: 75%;
    }
}

@media (max-width:768px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 95px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -20.5%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 10%;
    }
    .text{
        margin-top: 17%;
        font-size: 12px;
        margin-left: 40%;
        width: 300px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 550px;
    }
    .discrip_psico h3{
        font-size: 17px;
        margin-top: 52%;
        position: absolute;
        margin-left: 16%;
    }
    .discrip_psico .link_site{
        position: absolute;
        margin-top: 59%;
        margin-left: 8%;
    }
    .discrip_psico .link_repos{
        position: absolute;
        margin-top: 59%;
        margin-left: 27%;
    }

    .discrip_studio h3{
        font-size: 17px;
        margin-top: 52%;
        position: absolute;
        margin-left: 58%;
        text-align: center;
        width: 40%;
    }
    .discrip_studio .link_site{
        position: absolute;
        margin-top: 59%;
        margin-left: 57%;
    }
    .discrip_studio .link_repos{
        position: absolute;
        margin-top: 59%;
        margin-left: 76%;
    }
}

@media (max-width:740px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 95px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -20.5%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 10%;
    }
    .text{
        margin-top: 17%;
        font-size: 12px;
        margin-left: 40%;
        width: 300px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 550px;
    }
    .discrip_psico h3{
        font-size: 15px;
        margin-top: 52%;
        position: absolute;
        margin-left: 16%;
    }
    .discrip_psico .link_site{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 6%;
    }
    .discrip_psico .link_repos{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        font-size: 15px;
        margin-top: 52%;
        position: absolute;
        margin-left: 58%;
        text-align: center;
        width: 40%;
    }
    .discrip_studio .link_site{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 55%;
    }
    .discrip_studio .link_repos{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 74%;
    }
}

@media (max-width:734px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 95px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -20.5%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 10%;
    }
    .text{
        margin-top: 17%;
        font-size: 12px;
        margin-left: 40%;
        width: 300px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 550px;
    }
    .discrip_psico h3{
        font-size: 15px;
        margin-top: 52%;
        position: absolute;
        margin-left: 16%;
    }
    .discrip_psico .link_site{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 6%;
    }
    .discrip_psico .link_repos{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        font-size: 15px;
        margin-top: 52%;
        position: absolute;
        margin-left: 58%;
        text-align: center;
        width: 40%;
    }
    .discrip_studio .link_site{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 55%;
    }
    .discrip_studio .link_repos{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 74%;
    }
}

@media (max-width:680px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 25%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 95px;
        width: 300px;
        align-items: right;
        margin-left: 25%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -22.5%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 10%;
    }
    .text{
        margin-top: 17%;
        font-size: 12px;
        margin-left: 40%;
        width: 300px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 550px;
    }
    .discrip_psico h3{
        font-size: 15px;
        margin-top: 52%;
        position: absolute;
        margin-left: 16%;
    }
    .discrip_psico .link_site{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 6%;
    }
    .discrip_psico .link_repos{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        font-size: 15px;
        margin-top: 52%;
        position: absolute;
        margin-left: 58%;
        text-align: center;
        width: 40%;
    }
    .discrip_studio .link_site{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 55%;
    }
    .discrip_studio .link_repos{
        font-size: 15px;
        position: absolute;
        margin-top: 59%;
        margin-left: 74%;
    }
}

@media (max-width:640px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 15%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 90px;
        width: 300px;
        align-items: right;
        margin-left: 15%;
        color: white;
    }
    .grupo_icones{
        margin-left: 55%;
        margin-top: -26%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 15%;
    }
    .text{
        margin-top: 22%;
        font-size: 12px;
        margin-left: 40%;
        width: 250px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 450px;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 52%;
        position: absolute;
        margin-left: 15%;
    }
    .discrip_psico h4{
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 59%;
        margin-left: 5%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 59%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        font-size: 14px;
        margin-top: 52%;
        position: absolute;
        margin-left: 58%;
        text-align: center;
        width: 40%;
    }
    .discrip_studio h4{
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 59%;
        margin-left: 55%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 59%;
        margin-left: 74%;
    }
    footer p {
        margin-top: 10%;
    }
}

@media (max-width:540px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 15%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 80px;
        width: 300px;
        align-items: right;
        margin-left: 15%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -28%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 15%;
    }
    .text{
        margin-top: 22%;
        font-size: 12px;
        margin-left: 40%;
        width: 250px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 450px;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 52%;
        position: absolute;
        margin-left: 15%;
    }
    .discrip_psico h4{
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 59%;
        margin-left: 5%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 59%;
        margin-left: 25%;
    }

    .discrip_studio h3{
        font-size: 14px;
        margin-top: 52%;
        position: absolute;
        margin-left: 58%;
        text-align: center;
        width: 40%;
    }
    .discrip_studio h4{
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 59%;
        margin-left: 55%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 59%;
        margin-left: 74%;
    }
    footer p {
        margin-top: 10%;
    }
}

@media (max-width:500px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 68px;
        width: 300px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -34%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 10px;
        margin-left: 40%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 1250px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 35%;
    }
    .discrip_psico h4{
        margin-left: 42%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 20%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 55%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 28%;
        text-align: center;
        width: 50%;
    }
    .discrip_studio h4{
        margin-left: 42%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 20%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 55%;
    }
    footer h3{
        font-size: 14px;
    }
    footer p {
        margin-top: 10%;
    }
}

@media (max-width:467px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 68px;
        width: 300px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -34%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 10px;
        margin-left: 40%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 1200px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 35%;
    }
    .discrip_psico h4{
        margin-left: 42%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 20%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 55%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 28%;
        text-align: center;
        width: 50%;
    }
    .discrip_studio h4{
        margin-left: 42%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 20%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 55%;
    }
    footer h3{
        font-size: 14px;
    }
    footer p {
        margin-top: 10%;
    }
}

@media (max-width:440px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 68px;
        width: 300px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -34%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 10px;
        margin-left: 40%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 1100px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 35%;
    }
    .discrip_psico h4{
        margin-left: 42%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 20%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 55%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 28%;
        text-align: center;
        width: 50%;
    }
    .discrip_studio h4{
        margin-left: 42%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 20%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 55%;
    }
    footer h3{
        font-size: 14px;
    }
    footer p {
        margin-top: 10%;
    }
}

@media (max-width:420px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 68px;
        width: 300px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -34%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 10px;
        margin-left: 40%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 1100px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 35%;
    }
    .discrip_psico h4{
        margin-left: 42%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 20%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 55%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 28%;
        text-align: center;
        width: 50%;
    }
    .discrip_studio h4{
        margin-left: 42%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 20%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 55%;
    }
    footer h3{
        font-size: 14px;
    }
    footer p {
        margin-top: 10%;
    }
}

@media (max-width:416px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 68px;
        width: 300px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -34%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 10px;
        margin-left: 40%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 1100px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 35%;
    }
    .discrip_psico h4{
        margin-left: 42%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 20%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 55%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 28%;
        text-align: center;
        width: 50%;
    }
    .discrip_studio h4{
        margin-left: 42%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 20%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 55%;
    }
    footer h3{
        font-size: 14px;
    }
    footer p {
        margin-top: 10%;
    }
}

@media (max-width:412px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 68px;
        width: 300px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -34%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 10px;
        margin-left: 40%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 1100px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 35%;
    }
    .discrip_psico h4{
        margin-left: 42%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 20%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 55%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 28%;
        text-align: center;
        width: 50%;
    }
    .discrip_studio h4{
        margin-left: 42%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 20%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 55%;
    }
    footer h3{
        font-size: 14px;
    }
    footer p {
        margin-top: 10%;
    }
}

@media (max-width:394px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 5%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 68px;
        width: 20px;
        align-items: right;
        margin-left: 5%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -34%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 10px;
        margin-left: 40%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 1050px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 35%;
    }
    .discrip_psico h4{
        margin-left: 42%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 20%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 55%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 28%;
        text-align: center;
        width: 50%;
    }
    .discrip_studio h4{
        margin-left: 41%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 20%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 55%;
    }
    footer h3{
        font-size: 14px;
    }
    footer p {
        margin-top: 10%;
    }
}

@media (max-width:376px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 60px;
        width: 300px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -34%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 10px;
        margin-left: 40%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 1050px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 35%;
    }
    .discrip_psico h4{
        margin-left: 42%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 20%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 55%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 28%;
        text-align: center;
        width: 55%;
    }
    .discrip_studio h4{
        margin-left: 41%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 20%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 55%;
    }
    footer h3{
        font-size: 14px;
    }
    footer p {
        margin-top: 10%;
    }
}

@media (max-width:360px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        color: white;
    }
    .dev_title{
        font-size: 58px;
        width: 300px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -34%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 10px;
        margin-left: 40%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 100px;
        height: 900px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 30%;
    }
    .discrip_psico h4{
        margin-left: 38%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 15%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 55%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 20%;
        text-align: center;
        width: 60%;
    }
    .discrip_studio h4{
        margin-left: 38%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 15%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 55%;
    }
    footer h3{
        font-size: 14px;
    }
    footer p {
        margin-top: 10%;
    }
}

@media (max-width:344px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        font-size: 14px;
        color: white;
    }
    .dev_title{
        font-size: 44px;
        width: 200px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -35%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 10px;
        margin-left: 20%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 50px;
        height: 1000px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 25%;
    }
    .discrip_psico h4{
        margin-left: 35%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 50%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 16%;
        text-align: center;
        width: 70%;
    }
    .discrip_studio h4{
        margin-left: 35%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 10%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 50%;
    }
    footer h3{
        font-size: 12px;
    }
    footer p {
        margin-top: 20%;
    }
}

@media (max-width:280px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        font-size: 14px;
        color: white;
    }
    .dev_title{
        font-size: 44px;
        width: 200px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -35%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 10px;
        margin-left: 20%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 50px;
        height: 780px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 25%;
    }
    .discrip_psico h4{
        margin-left: 35%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 110%;
        margin-left: 50%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 16%;
        text-align: center;
        width: 70%;
    }
    .discrip_studio h4{
        margin-left: 35%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 10%;
    }
    .discrip_studio .link_repos{
        font-size: 12px;
        position: absolute;
        margin-top: 240%;
        margin-left: 50%;
    }
    footer h3{
        font-size: 12px;
    }
    footer p {
        margin-top: 20%;
    }
}

@media (max-width:272px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        font-size: 12px;
        color: white;
    }
    .dev_title{
        font-size: 34px;
        width: 200px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -32%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 8px;
        margin-left: 10%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 50px;
        height: 700px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 25%;
    }
    .discrip_psico h4{
        margin-left: 35%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 10px;
        position: absolute;
        margin-top: 110%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        font-size: 10px;
        position: absolute;
        margin-top: 110%;
        margin-left: 50%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 12%;
        text-align: center;
        width: 80%;
    }
    .discrip_studio h4{
        margin-left: 35%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 10px;
        position: absolute;
        margin-top: 240%;
        margin-left: 10%;
    }
    .discrip_studio .link_repos{
        font-size: 10px;
        position: absolute;
        margin-top: 240%;
        margin-left: 50%;
    }
    footer h3{
        font-size: 12px;
    }
    footer p {
        margin-top: 20%;
    }
}

@media (max-width:264px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        font-size: 12px;
        color: white;
    }
    .dev_title{
        font-size: 34px;
        width: 200px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -32%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 8px;
        margin-left: 10%;
        width: 200px;
        color: white;
    }
    main{
        margin-top: 50px;
        height: 700px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 25%;
    }
    .discrip_psico h4{
        margin-left: 35%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 10px;
        position: absolute;
        margin-top: 110%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        font-size: 10px;
        position: absolute;
        margin-top: 110%;
        margin-left: 50%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 12%;
        text-align: center;
        width: 80%;
    }
    .discrip_studio h4{
        margin-left: 35%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 10px;
        position: absolute;
        margin-top: 240%;
        margin-left: 10%;
    }
    .discrip_studio .link_repos{
        font-size: 10px;
        position: absolute;
        margin-top: 240%;
        margin-left: 50%;
    }
    footer h3{
        font-size: 12px;
    }
    footer p {
        margin-top: 20%;
    }
}

@media (max-width:220px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        font-size: 12px;
        color: white;
    }
    .dev_title{
        font-size: 28px;
        width: 150px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -32%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 8px;
        margin-left: 15%;
        width: 150px;
        color: white;
    }
    main{
        margin-top: 50px;
        height: 640px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 15%;
    }
    .discrip_psico h4{
        margin-left: 30%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 8px;
        position: absolute;
        margin-top: 110%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        font-size: 8px;
        position: absolute;
        margin-top: 110%;
        margin-left: 50%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 0%;
        text-align: center;
        width: 100%;
    }
    .discrip_studio h4{
        margin-left: 30%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 8px;
        position: absolute;
        margin-top: 250%;
        margin-left: 10%;
    }
    .discrip_studio .link_repos{
        font-size: 8px;
        position: absolute;
        margin-top: 250%;
        margin-left: 50%;
    }
    footer h3{
        font-size: 12px;
    }
    footer p {
        margin-top: 20%;
    }
}

@media (max-width:200px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 10%;
        margin-top: -1%;
        font-size: 12px;
        color: white;
    }
    .dev_title{
        font-size: 28px;
        width: 150px;
        align-items: right;
        margin-left: 10%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -32%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 8px;
        margin-left: 15%;
        width: 150px;
        color: white;
    }
    main{
        margin-top: 50px;
        height: 640px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 14px;
        margin-top: 100%;
        position: absolute;
        margin-left: 15%;
    }
    .discrip_psico h4{
        margin-left: 30%;
        margin-top: 95%;
        font-size: 12px;
    }
    .discrip_psico .link_site{
        font-size: 8px;
        position: absolute;
        margin-top: 110%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        font-size: 8px;
        position: absolute;
        margin-top: 110%;
        margin-left: 50%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 130%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 14px;
        margin-top: 225%;
        position: absolute;
        margin-left: 0%;
        text-align: center;
        width: 100%;
    }
    .discrip_studio h4{
        margin-left: 30%;
        margin-top: 220%;
        font-size: 12px;
    }
    .discrip_studio .link_site{
        font-size: 8px;
        position: absolute;
        margin-top: 250%;
        margin-left: 10%;
    }
    .discrip_studio .link_repos{
        font-size: 8px;
        position: absolute;
        margin-top: 250%;
        margin-left: 50%;
    }
    footer h3{
        font-size: 12px;
    }
    footer p {
        margin-top: 20%;
    }
}

@media (max-width:180px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 0%;
        margin-top: -1%;
        font-size: 12px;
        color: white;
    }
    .dev_title{
        font-size: 22px;
        width: 120px;
        align-items: right;
        margin-left: 0%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -38%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 8px;
        margin-left: 0%;
        width: 120px;
        color: white;
    }
    main{
        margin-top: 50px;
        height: 500px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 12px;
        margin-top: 100%;
        position: absolute;
        margin-left: 10%;
    }
    .discrip_psico h4{
        margin-left: 30%;
        margin-top: 95%;
        font-size: 10px;
    }
    .discrip_psico .link_site{
        font-size: 6px;
        position: absolute;
        margin-top: 110%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        font-size: 6px;
        position: absolute;
        margin-top: 110%;
        margin-left: 50%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 140%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 12px;
        margin-top: 235%;
        position: absolute;
        margin-left: 0%;
        text-align: center;
        width: 100%;
    }
    .discrip_studio h4{
        margin-left: 30%;
        margin-top: 230%;
        font-size: 10px;
    }
    .discrip_studio .link_site{
        font-size: 6px;
        position: absolute;
        margin-top: 275%;
        margin-left: 10%;
    }
    .discrip_studio .link_repos{
        font-size: 6px;
        position: absolute;
        margin-top: 275%;
        margin-left: 50%;
    }
    footer h3{
        font-size: 12px;
    }
    footer p {
        margin-top: 20%;
    }
}

@media (max-width:150px){
    .full_intro{
        width: 100%;
        margin-top: 15%;
    }
    .intro{
        margin-left: 0%;
        margin-top: -1%;
        font-size: 12px;
        color: white;
    }
    .dev_title{
        font-size: 22px;
        width: 120px;
        align-items: right;
        margin-left: 0%;
        color: white;
    }
    .grupo_icones{
        margin-left: 60%;
        margin-top: -38%;
        color: white;
    }
    .grupo_icones a .icone{
        width: 20%;
    }
    .text{
        margin-top: 28%;
        font-size: 8px;
        margin-left: 0%;
        width: 120px;
        color: white;
    }
    main{
        margin-top: 50px;
        height: 500px;
    }
    .portfolio_1{
        position: absolute;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_psico h3{
        font-size: 12px;
        margin-top: 100%;
        position: absolute;
        margin-left: 10%;
    }
    .discrip_psico h4{
        margin-left: 30%;
        margin-top: 95%;
        font-size: 10px;
    }
    .discrip_psico .link_site{
        font-size: 6px;
        position: absolute;
        margin-top: 110%;
        margin-left: 10%;
    }
    .discrip_psico .link_repos{
        font-size: 6px;
        position: absolute;
        margin-top: 110%;
        margin-left: 50%;
    }
  
    .portfolio_2{
        position: absolute;
        margin-top: 140%;
        margin-left: 10%;
        width: 80%;
    }
    .discrip_studio h3{
        font-size: 12px;
        margin-top: 235%;
        position: absolute;
        margin-left: 0%;
        text-align: center;
        width: 100%;
    }
    .discrip_studio h4{
        margin-left: 30%;
        margin-top: 230%;
        font-size: 10px;
    }
    .discrip_studio .link_site{
        font-size: 6px;
        position: absolute;
        margin-top: 275%;
        margin-left: 10%;
    }
    .discrip_studio .link_repos{
        font-size: 6px;
        position: absolute;
        margin-top: 275%;
        margin-left: 50%;
    }
    footer h3{
        font-size: 12px;
    }
    footer p {
        margin-top: 20%;
    }
}