html{
    background-image: url("/static/images/background.jpg");
    max-width: 1920px;
    width: 100%;
}

.full_intro{
    width: 100%;
    margin-top: 15%;
}

.intro{
    margin-left: 25%;
    margin-top: -1%;
    color: white;
}

.dev_title{
    font-size: 160px;
    width: 300px;
    align-items: right;
    margin-left: 25%;
    color: white;
}

.grupo_icones{
    margin-left: 55%;
    margin-top: -17.5%;
    color: white;
}

.text{
    margin-top: 20%;
    margin-left: 45%;
    width: 400px;
    color: white;
}

main{
    background-image: url("/static/images/background2.jpg");
    margin-top: 15%;
    width: 100%;
    height: 900px;
}

/* Discrip_psico */
.portfolio_1{
    position: absolute;
    margin-top: 8%;
    margin-left: 5%;
    width: 40%;
}
.discrip_psico h4{
    margin-top: 50%;
    position: absolute;
    margin-left: 20%;
}
.discrip_psico h3{
    margin-top: 52%;
    position: absolute;
    margin-left: 17%;
}
.discrip_psico .link_site{
    position: absolute;
    margin-top: 56%;
    margin-left: 10%;
}
.discrip_psico .link_repos{
    position: absolute;
    margin-top: 56%;
    margin-left: 25%;
}
/* Fim Discrip_psico */
/* Discrip_studio */
.portfolio_2{
    position: absolute;
    margin-top: 8%;
    margin-left: 55%;
    width: 40%;
}
.discrip_studio h4{
    margin-top: 50%;
    position: absolute;
    margin-left: 70%;
}
.discrip_studio h3{
    margin-top: 52%;
    position: absolute;
    margin-left: 62%;
    text-align: center;
    width: 25%;
}
.discrip_studio .link_site{
    position: absolute;
    margin-top: 56%;
    margin-left: 62%;
}
.discrip_studio .link_repos{
    position: absolute;
    margin-top: 56%;
    margin-left: 77%;
}
/* Fim Discrip_studio */
footer{
    text-align: center;
    align-items: center;
    color: white;
    height: 180px;
}

footer h3{
    margin-top: 30px;
}

footer p{
    margin-top: 4%;
}